:root {
  --shadow-color: rgb(190, 190, 190);
}

.recipe-container {
  height: 350px;
  width: 300px;
  background-color: white;
  box-shadow: 19px -4px 28px -17px rgba(49, 49, 49, 0.38);
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.recipe-container:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0px -1px var(--shadow-color);
}

.image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-title {
  font-weight: bold;
  font-size: 1.6rem;
}
